.artist-container {
    position: absolute;
    width: 400px;
    right: 0;
    bottom: 70px;
    /* border: 2px solid blanchedalmond; */
    padding: 10px 20px;
}

.artist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
}

.artist-img {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: scroll;
    /* border: 2px solid black; */
}

.artist-img::-webkit-scrollbar {
    display: none;
}

.artist-img img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
