.musics-player {
    position: absolute;
    /* border: 3px solid black; */
    right: 0;
    left: 0;
    bottom: 0;
    height: 75px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(24, 24, 162); */
    color: white;
    background: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(10px); */
}

.musics-player-left{
    display: flex;
    gap: 20px;
    padding: 10px;
    /* border: 3px solid rgb(182, 48, 48); */
    width: 25%;

}
.musics-player-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.musics-player-middle{
    padding: 10px;
    /* border: 2px solid navy; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.musics-player-middle-top{
    /* border: 2px solid rgb(88, 35, 35); */
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.musics-player-middle-bottom{
    /* border: 2px solid rgb(241, 235, 235); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.musics-player-right{
    /* border: 3px solid black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#progress{
    -webkit-appearance: none;
    width: 50%;
    height: 4px;
    cursor: pointer;
    background-color:rgb(205, 204, 223);
    border-radius: 10px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(4, 2, 42);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid blanchedalmond;
}