.sidebar {
    display: flex;
    width: 220px;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 100vh;
    align-items: center;
    padding: 30px;
    background: rgb(4, 2, 42);
    background: linear-gradient(180deg, rgba(4, 2, 42, 1) 63%, rgba(5, 5, 87, 1) 84%);
    background-repeat: no-repeat;
    font-size: 18px;
}

.logo img {
    width: 100px;
    margin-bottom: 50px;
    filter: drop-shadow(10px 10px 10px black);
}


.sidebar-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    /* border: 2px solid black; */
    gap: 10px;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 30px;
    transition: color 0.3s;
}

.sidebar-list:hover {
    color: blue;
}
#side-bar-icon svg:hover {
    color: blue;
}

#side-bar-icon{
    color: black;
    transition: all 0.5s;
}